<html>
    <head>
        <title>
            glu-Edit
        </title>
    </head>

    <body>
        Hello World
        <div id="editor">
                <textarea id="editor-area" rows="100" cols="100">
                    Start typing here .....
                </textarea>
        </div>
        <div id="users">

        </div>


    </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
    const socket = io.connect("http://localhost:8000");
    const editorArea = document.getElementById("editor-area");

    socket.on("connect",  () => {
        console.log("Connected!");

        
        editorArea.onkeyup = function() {
            socket.emit('change', {text : editorArea.value} );
        }
    });

    socket.on('change', (data) => {
        editorArea.value = data.text;
    });



</script>